{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"@typescript-eslint"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": [
			"./tsconfig.json"
		]
	},
	"rules": {
		"prettier/prettier": "error",
		"require-await": "off",
		"@typescript-eslint/require-await": "error",
		"@typescript-eslint/no-floating-promises": "error",
		"@typescript-eslint/no-misused-promises": "error",
		"@typescript-eslint/no-explicit-any": "warn"
	},
	"root": true
}